.app-sidebar {
	width: $app-sidebar-width;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	padding-top: $app-header-height;
	z-index: $app-sidebar-zindex;
	
	@if $enable-rtl {
		left: auto;
		right: 0;
	}
	@include media-breakpoint-down(md) {
		position: fixed;
		padding-top: 0;
		left: $app-sidebar-width * -1;
		z-index: $app-header-zindex + 1;
		
		@if $enable-rtl {
			left: auto;
			right: $app-sidebar-width * -1;
		}
	}
	
	& .menu {
		padding: 0 rem(20px);
		
		& .menu-profile {
			padding: rem(20px);
			color: $white;
			overflow: hidden;
			position: relative;
			border-bottom: 1px solid var(--app-component-border-color);
		
			& .menu-profile-link {
				margin: rem(-20px);
				padding: rem(20px) 0;
				display: block;
				color: $white;
				font-weight: $font-weight-bold;
				text-decoration: none;
				
				&:hover {
					& .menu-profile-cover {
						&.with-shadow {
							&:before {
								opacity: 0.75;
							}
						}
					}
				}
			}
			& .menu-profile-image {
				width: rem(34px);
				height: rem(34px);
				margin-bottom: rem(10px);
				overflow: hidden;
				position: relative;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			
				@include display-flex();
				@include flex-align(center);
				@include border-radius($border-radius-lg * 5);
				
				& img {
					max-width: 100%;
					max-height: 100%;
				}
				&.menu-profile-image-icon {
					& i {
						float: none;
						display: block;
						font-size: rem(24px);
						text-align: center;
						width: auto;
						margin: 0 auto rem(-12px);
					}
				}
			}
			& .menu-profile-cover {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-repeat: no-repeat;
				background-size: cover;
			
				&.with-shadow {
					&:before {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
					
						@include transition(all .2s linear);
					}
				}
			}
			& .menu-profile-info {
				font-size: $font-size-lg;
				position: relative;
			
				& small {
					display: block;
					font-weight: $font-weight-base;
					color: rgba($white, .75);
					font-size: $font-size-base;
					margin-bottom: rem(-5px);
				}
			}
		}
		& .menu-header {
			margin: 0;
			padding: rem(15px) 0 rem(3px);
			line-height: rem(20px);
			font-size: rem(11px);
			color: rgba($white, .45);
			font-weight: $font-weight-bold;
		}
		& .menu-divider {
			height: 1px;
			background: var(--app-component-border-color);
			margin: $app-sidebar-component-padding-y 0;
		}
		& .menu-caret {
			display: block;
			width: rem(20px);
			text-align: center;
			font-size: $font-size-sm;
			border: none;
		
			@include fontawesome();
			@if $enable-rtl {
				margin-right: auto;
				margin-left: rem(-5px);
			} @else {
				margin-left: auto;
				margin-right: rem(-5px);
			}
		
			&:before {
				content: '\f054';
				display: block;
				text-align: center;
				opacity: 0.5;
			
				@include transition(all .2s linear);
				@if $enable-rtl {
					content: '\f053';
				}
			}
		}
		& .menu-search {
			padding: $app-sidebar-component-padding-x;
			margin: 0 rem(-$app-sidebar-component-padding-x);
			
			& + .menu-item {
				padding-top: 0;
			}
			& .form-control {
				background: none;
				border: none;
				padding-left: 0;
				padding-right: 0;
				border-bottom: 1px solid rgba($white, .2);
				color: $white;
				
				@include border-radius(0);
				
				&:focus {
					border-color: rgba($white, .5);
					
					@include box-shadow(none);
				}
			}
		}
		
		& .active:not(.closed):not(.closing),
		& .expanding,
		& .expand {
			& > a {
				& .menu-caret {
					&:before {
						opacity: 1.0;
						
						@include transform(rotate(90deg));
						@if $enable-rtl {
							@include transform(rotate(-90deg));
						}
					}
				}
			}
		}
		& .menu-item {
			position: relative;
					
			& .menu-link {
				padding: $app-sidebar-component-padding-y $app-sidebar-component-padding-x;
				line-height: rem(20px);
				color: rgba($white, .6);
				text-decoration: none;
				font-weight: $font-weight-bold;
				
				@include display-flex();
				@include flex-align(center);
				@include border-radius($border-radius);
				
				& .menu-text {
					@include flex(1);
				}
				& .menu-badge {
					padding: 0 $badge-padding-x * 1.5;
					background: $white;
					color: $black;
					font-weight: $font-weight-bold;
					font-size: rem(10px);
					
					@include border-radius($border-radius-lg * 2);
				}
				& .menu-label {
					padding: $badge-padding-y $badge-padding-x;
					font-size: 75%;
					font-weight: $font-weight-bold;
					color: $black;
					text-align: center;
					white-space: nowrap;
					vertical-align: baseline;
					margin-left: rem(5px);
					background-color: $white;
					
					@include border-radius($border-radius-sm);
					@if $enable-rtl {
						margin-left: 0;
						margin-right: rem(5px);	
					}
				}
				&:hover,
				&:focus {
					background: none;
					color: $white;
				}
				& .text-theme {
					color: $white;
				}
			}
			& .menu-icon {
				width: rem(14px);
				text-align: center;
				line-height: rem(20px);
				font-size: $font-size-lg;
				
				@include display-flex();
				@include flex-align(center);
				@include flex-justify-content(center);
				@if $enable-rtl {
					margin-left: rem(10px);
				} @else {
					margin-right: rem(10px);
				}
				& img {
					max-width: 100%;
					max-height: 100%;
				}
				& [class^="ion-"] {
					margin-right: rem(8px);
					width: rem(18px);
					font-size: rem(18px);
					margin-left: rem(-2px);
					display: block;
					
					@if $enable-rtl {
						margin-right: rem(-2px);
						margin-left: rem(8px);
					}
				}
			}
			& .menu-icon-img {
				width: rem(26px);
				height: rem(26px);
				overflow: hidden;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				
				@include border-radius($border-radius);
				@include display-flex();
				@include flex-align(center);
				@if $enable-rtl {
					margin-left: rem(10px);
				} @else {
					margin-right: rem(10px);
				}
				
				& img {
					max-width: 100%;
					max-height: 100%;
					display: block;
					margin: 0 auto;
				}
			}
			& .menu-submenu {
				padding: rem(5px) 0 rem(10px) rem(25px);
				margin: 0;
				position: relative;
				display: none;
	
				@if $enable-rtl {
					padding-left: 0;
					padding-right: rem(39px);
				}
				
				& .menu-item {
					& .menu-link {
						padding: rem(3px) rem(15px) rem(3px) rem(14px);
						color: rgba($white, .45);
						text-decoration: none;
						position: relative;
						line-height: rem(18px);
						
						@if $enable-rtl {
							padding-right: rem(14px);
							padding-left: rem(20px);
						}
						
						&:hover,
						&:focus {
							color: $white;
						}
					}
					
					&.active {
						& > .menu-link {
							background: none;
							color: $white;
						}
					}
					
					& .menu-submenu {
						padding: 0 0 0 rem(15px);
						background: none;
		
						@if $enable-rtl {
							padding-left: 0;
							padding-right: rem(15px);
						}
					}
				}
			}
			
			&.active {
				&.has-sub {
					& > .menu-submenu {
						display: block;
					}
				}
				& > .menu-link {
					position: relative;
					z-index: 10;
					color: var(--app-component-color);
					background: rgba($white, .25);
					
					@include gradient-enabled {
						color: var(--app-theme-color);
						background-color: var(--app-theme);
						background-image: var(--bs-gradient);
					}
				}
			}
		}
	}
	
	& .app-sidebar-content {
		position: relative;
	}
	& .app-sidebar-minify-btn {
		margin: rem(10px) 0;
		padding: rem(5px) rem(10px) !important;
		background: rgba($black, .25);
		color: $white;
		
		@include border-radius($border-radius);
		
		& i {
			margin: 0 !important;
			color: $white;
		}
		&:hover,
		&:focus {
			background: rgba($black, .5);
		}
	}
	& .ps__rail-y,
	& .ps__rail-x {
		display: none !important;
	}
	&.app-sidebar-grid {
		& .menu {
			& > .menu-item {
				border-top: 1px solid var(--app-component-border-color);
				
				& > .menu-link {
					@include border-radius(0);
				}
				&.active {
					border-color: transparent;
					
					&.closed + .menu-item {
						border-color: transparent;
					}
				}
			}
		}
	}
}
.app-sidebar-bg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: $app-sidebar-width;
	z-index: $app-sidebar-zindex - 10;
	
	@if $enable-rtl {
		left: auto;
		right: 0;
	}
	@include media-breakpoint-down(md) {
		padding-top: 0;
		left: -$app-sidebar-width;
		z-index: $app-header-zindex;
		background: rgba(85, 92, 100, .95);
		
		@if $enable-rtl {
			left: auto;
			right: -$app-sidebar-width;
		}
	}
}
.app-sidebar-mobile-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $app-sidebar-mobile-backdrop-zindex;
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
	margin: 0;
	outline: none;
	display: none;
}
