.app-sidebar-end {
	&.app-sidebar,
	&.app-sidebar-bg {
		@if $enable-rtl {
			left: -$app-sidebar-width;
		} @else {
			right: -$app-sidebar-width;
		}
	}
	&.app-with-wide-sidebar {
		& .app-sidebar-end {
			&.app-sidebar,
			&.app-sidebar-bg {
				@if $enable-rtl {
					left: -$app-sidebar-wide-width;
				} @else {
					right: -$app-sidebar-wide-width;
				}
			}
		}
	}
}