.widget-stats,
.widget.widget-stats {
	position: relative;
	color: $white;
	padding: $spacer;
	
	@include border-radius($border-radius);
	
	& .stats-info {
		& h4 {
			font-size: rem(12px);
			margin: rem(5px) 0;
			color: rgba($white, .7);
		}
		& p {
			font-size: rem(24px);
			font-weight: $font-weight-bold;
			margin-bottom: 0;
		}
	}
	& .stats-link {
		& a {
			display: block;
			margin: $spacer $spacer * -1 $spacer * -1;
			padding: $spacer * .5 $spacer;
			background: rgba($black, .4);
			text-align: right;
			color: rgba($white, .7);
			text-decoration: none;
			
			@if $enable-rtl {
				text-align: left;
			}
			
			&:hover,
			&:focus {
				background: rgba($black, .6);
				color: $white;
			}
		}
	}
	& .stats-icon {
		font-size: rem(42px);
		height: rem(56px);
		width: rem(56px);
		text-align: center;
		line-height: rem(56px);
		color: rgba($black, .15);
		position: absolute;
		top: $spacer;
		margin-left: $spacer;
		
		@if $enable-rtl {
			right: auto;
			left: $spacer;
		} @else {
			right: $spacer;
		}
		
		&.stats-icon-lg {
			font-size: rem(128px);
			top: $spacer;
			color: $white;
			width: rem(128px);
			height: rem(50px);
			line-height: rem(50px);
			text-shadow: rem(3px) rem(7px) rgba($black, .25);
			opacity: .15;
			
			@if $enable-rtl {
				left: 0;
			} @else {
				right: 0;
			}
			
			& i {
				position: relative;
			}
		}
		&.stats-icon-square {
			opacity: 1;
			font-size: rem(42px);
			top: $spacer;
			right: $spacer;
			height: rem(56px);
			width: rem(56px);
			text-align: center;
			line-height: rem(56px);
			margin-left: $spacer;
			
			@include border-radius($border-radius * 4);
			@if $enable-rtl {
				right: auto;
				left: $spacer;
			}
		}
	}
	& .stats-content {
		position: relative;
	}
	& .stats-title {
		position: relative;
		margin: 0 0 rem(2px);
		font-size: rem(12px);
		font-weight: $font-weight-bold;
		color: rgba($white, .7);	
	}
	& .stats-desc {
		margin: rem(-5px) 0 rem(-3px);
		color: rgba($white, .7);
	}
	& .stats-number {
		font-size: rem(24px);
		margin-bottom: $spacer;
		font-weight: $font-weight-bold;
		letter-spacing: rem(1px);
	}
	& .stats-progress {
		background: rgba($black, .5);
		height: rem(2px);
		margin: 0 0 $spacer;
		
		@include border-radius($border-radius);
		
		& .progress-bar {
			background: $white;
			
			@include border-radius(0 $border-radius $border-radius 0);
		}
		
		&.stats-progress-light {
			background: rgba($white, .3);
		}
	}
	&.bg-white {
		& .stats-progress {
			background: rgba($black, .1);
			
			& .progress-bar {
				background: $dark;
			}
		}
	}
}