@import 'pages/coming-soon';
@import 'pages/error';
@import 'pages/gallery';
@import 'pages/invoice';
@import 'pages/login-register';
@import 'pages/mailbox';
@import 'pages/pos-booking';
@import 'pages/pos-counter';
@import 'pages/pos-customer';
@import 'pages/pos-kitchen';
@import 'pages/pos-stock';
@import 'pages/pos';
@import 'pages/profile';
@import 'pages/search';
@import 'pages/timeline';
@import 'pages/refinery';