@import 'plugins/apexchart';
@import 'plugins/bootstrap-datepicker';
@import 'plugins/bootstrap-daterangepicker';
@import 'plugins/bootstrap-datetimepicker';
@import 'plugins/bootstrap-social';
@import 'plugins/bootstrap-timepicker';
@import 'plugins/bootstrap-wysihtml5';
@import 'plugins/ckeditor';
@import 'plugins/datatables';
@import 'plugins/dropzone';
@import 'plugins/flot';
@import 'plugins/fullcalendar';
@import 'plugins/gritter';
@import 'plugins/hljs';
@import 'plugins/introjs';
@import 'plugins/ion-rangeslider';
@import 'plugins/jquery-autocomplete';
@import 'plugins/jquery-sortable';
@import 'plugins/jstree';
@import 'plugins/jvectormap-next';
@import 'plugins/material-icons';
@import 'plugins/nvd3';
@import 'plugins/pace';
@import 'plugins/parsley';
@import 'plugins/perfect-scrollbar';
@import 'plugins/powerange';
@import 'plugins/select-picker';
@import 'plugins/select2';
@import 'plugins/simple-calendar';
@import 'plugins/sparkline';
@import 'plugins/spectrum-colorpicker2';
@import 'plugins/summernote';
@import 'plugins/superbox';
@import 'plugins/swal';
@import 'plugins/tag-it';
@import 'plugins/x-editable-bs4';